<div class="px-10 md:px-0">
  <div>
    <div id="secondDiv" class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full group">
        <%= render "user_books/form" %>
        <p class="mt-6 text-red-700">There is no your book in our list? Don't worry! Just add it!</p>
      </div>
      <div>
        <%= render "books/form" %>
      </div>
    </div>
  </div>
</div>
